#root {
	display: flex;
	height: 100%;
	width: 100vw;
	background-color: beige;
	padding: 50px;
	justify-content: space-around;
	gap: 100px;
}
.infos {
	width: 30%;
}
.resume {
	width: 50%;
	background-color: aliceblue;
	padding: 50px;
}
.infos div {
	margin: 5px;
}

input {
	width: 300px;
	height: 25px;
	border-radius: 30px;
	padding: 5px;
	font-size: 16px;
}
button {
	margin: 5px;
}
